.audio-page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.audio-page__blurred-background {
    position: absolute;
    top: -10px;
    left: -10px;
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    background-size: cover;
    background-position: center;
    filter: blur(10px);
    background-image: url('https://dummyimage.com/1920x1080');
    z-index: 0;
}

.audio-page__content-container {
    height: 100vh;
    position: relative;
    z-index: 1;
    padding: 20px;
}

.audio-page__image-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.audio-page__image-wrapper {
    position: relative;
    display: inline-block;
}

.audio-page__beat-image {
    max-height: 80vh;
    width: auto;
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.audio-page__price-tag {
    position: absolute;
    bottom: 15px;
    right: 15px;
    font-size: 2rem;
    font-weight: 700;
    background: rgba(255, 255, 255, 0.9);
    padding: 8px 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.audio-page__info-section {
    height: 100%;
}

.audio-page__title {
    font-size: 3.2rem;
    font-weight: 700;
    text-decoration: underline;
    margin-bottom: 10px;
}

.audio-page__author {
    font-size: 1.7rem;
    margin-bottom: 15px;
}

.audio-page__description {
    font-size: 1rem;
    line-height: 1.4;
    margin-bottom: 15px;
}

.audio-page__additional-info {
    display: flex;
    align-content: flex-start;
    gap: 0 1.2rem;
    flex-flow: column wrap;
    height: 9%;
    font-size: 1rem;
    margin-bottom: 15px;
    color: #444;
}

.audio-page__additional-text {
    display: flex;
    gap: 0.3rem;
    flex-basis: 50%;
}


.audio-page__player {
    width: 100%;
    margin-bottom: 20px;
}

.audio-page__button-section {
    display: flex;
    gap: 15px;
    justify-content: space-between;
}

.audio-page__back-button, .audio-page__buy-button {
    font-size: 1.5rem;
    padding: 12px 30px;
    border-radius: 8px;
    transition: transform 0.3s;
    flex: 1;
    width: 100%;
}

.audio-page__back-button:hover,
.audio-page__buy-button:hover {
    transform: scale(1.02);
}