.main-container {
    position: relative;
    height: 100vh;
    overflow: hidden;
    background: url('../../public/media/background.jpg') no-repeat center center fixed;
    background-size: cover;
    filter: brightness(100%)
}

.content {
    position: relative;
    z-index: 1;
    color: #e67505;
    text-align: center;
    top: 10%;
    transform: translateY(-50%);
}
