.user-list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 16px;
    width: 100%;
    padding: 16px;
    margin-top: calc(16px + 16px);
    box-sizing: border-box;
}

.list__title {
    flex-basis: 100%;
    text-align: center;
}

.user-item {
    flex-basis: calc(20% - 16px);
}

.audio-item {
    flex-basis: calc(25% - 16px);
}

.price-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.price-tag {
    font-size: 1.5rem;
    font-weight: bold;
}

.additional-info {
    font-size: 0.9rem;
    color: #555;
}