.user-list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 16px;
    width: 100%;
    padding: 16px;
    margin-top: calc(16px + 16px);
    box-sizing: border-box;
}

.list__title {
    flex-basis: 100%;
    text-align: center;
}

.user-list__row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}

.user-list__btn {
    position: absolute;
    right: 0;
}

.search-bar {
    width: 100%;
    margin-bottom: 24px;
}

.user-item {
    flex-basis: calc(20% - 16px);
    max-width: calc(20% - 16px);
}

.audio-item {
    flex-basis: calc(25% - 16px);
    max-width: calc(25% - 16px);
}

.price-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.price-tag {
    font-size: 1.5rem;
    font-weight: bold;
}

.additional-info {
    font-size: 0.9rem;
    color: #555;
}

.audio-item__username:hover {
    cursor: pointer;
    color: rgba(0, 0, 255, 0.9);
}

.checkmark-icon-sm {
    width: 16px;
    height: 16px;
    margin-left: 7px;
    margin-bottom: 2px;
}

.checkmark-icon {
    width: 40px;
    height: 40px;
    margin-left: 15px;
    margin-bottom: 5px;
}